{% set site_name = "Oogarts dr. Boeckaert" %}
{%  set site_description = "Oogarts Dr. Boeckaert met o.a. specialisatie in cataractchirurgie | Grote Steenweg 183, Zulte | afspraak online | tel. 09 335 33 04" %}
<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8"/>
    <title>Oogarts dr. Jolien Boeckaert</title>

    <meta name="description" content="Oogarts Dr. Boeckaert met o.a. specialisatie in cataractchirurgie | Grote Steenweg 183, Zulte | afspraak online | tel. 09 335 33 04">
    <link rel="stylesheet" href="https://use.typekit.net/qua8xhh.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

    <meta name="application-name" content="Oogarts dr. Boeckaert">
    <meta name="description" content="Oogarts Dr. Boeckaert met o.a. specialisatie in cataractchirurgie | Grote Steenweg 183, Zulte | afspraak online | tel. 09 335 33 04">

    <meta property="og:type" content="website">
    <meta property="og:url" content="oogartszulte.be">
    <meta property="og:title" content="{{ site_name }}">
    <meta property="og:site_name" content="{{ site_name }}">
    <meta property="og:description" content="{{ site_description }}">
    <meta property="og:image" content="https://i.ibb.co/cCvK4HK/share-img.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ site_name }}">
    <meta name="twitter:description" content="{{ site_description }}">
    <meta name="twitter:image:src" content="https://i.ibb.co/cCvK4HK/share-img.png">

    <link rel="stylesheet" href="/style.css?v=20190904" type="text/css" media="screen"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>